<section class="home">
  <div class="header row">
    <div class="logo col-md-5">
      <img src="../../../assets/img/compassuol-logo-black.png"  />
    </div>
    <div class="time col-md-4 offset-md-1"><h1>{{hora}}: {{minute}}</h1> <p>{{day}}/ {{month}}/ {{year}}</p></div>
    <div class="temp col-md-2">{{lat}} {{long}}</div>
  </div>

  <article>
    <h4>Our mission is</h4>
    <p>Nossa missão é</p>

    <h3>to transform the world</h3>
    <p>transformar o mundo</p>

    <h3>building digital experiences</h3>
    <p>construindo experiências digitais</p>

    <h3>that enable our client’s growth</h3>
    <p>que permitam o crescimento dos nossos clientes</p>
  </article>
</section>
  <div class="foooter row">
    <div class="col-md-4">
      <p>Essa janela do navegador é usada para manter sua sessão de autenticação ativa.
        Deixe-a aberta em segundo plano e abra uma nova janela para continuar a navegar.</p>
    </div>

    <div class="col-md-4">
      <p>Application refresh in</p>
    </div>
    <div class="col-md-1">
      <button class="search">Acessar<br> Busca</button>
    </div>

    <div class="col-md-1">
      <button class="logout">Logout</button>
    </div>
  </div>



